[Desktop Entry]
Name=WAPage
Comment=WhatsApp Chat Viewer - Read exported WhatsApp chats offline
GenericName=WhatsApp Chat Viewer
Exec=wapage
Icon=wapage
Terminal=false
Type=Application
Categories=Utility;Viewer;Chat;
Keywords=WhatsApp;Chat;Export;Viewer;Message;
StartupWMClass=WAPage
MimeType=application/zip;
